.zonegroup::after, .area::after, .subarea::after, .clearfix::after, .block::after, .schedule_row::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

body::before {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;

}
div, img, fieldset {
	margin: 0;
	padding: 0;
	border: none;
}



.lowercase {
	text-transform: lowercase;
}

.uppercase {
	text-transform: uppercase;
}

.capitalize {
	text-transform: capitalize;
}

.table {
	display: table;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

html, body {
	margin: 0;
	padding: 0;
}

