<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}" itemscope itemtype="http://schema.org/WebPage">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" href="static/favicon.ico" type="image/vnd.microsoft.icon" />
		<meta content="{{ title }}" about="/" property="dc:title" />
		<meta name="viewport" content="width=device-width,initial-scale=0.6" />
		<title>{%block title %}{{ title }}{% endblock %}</title>
		<link href="/static/all.css" type="text/css" rel="stylesheet" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="/static/js/temp_bin.js"></script>
		{% block scripts %}{% endblock %}
		{% block header %}{% endblock %}
	</head>
	<body>
		<div id="header_wrapper" class="wrapper clearfix">
			<div id="header" class="area">
				{% block head %}
				<div class="block block-global" id="block-logo">
					<a href="/">
						<img src="/static/images/logo.svg" alt="" onerror="this.error=null; this.src=\'/static/images/logo.png\';" />
					</a>
				</div>
				<div class="block block-global" id="block-searchbar">
					{% include 'search.html' %}
				</div>
				{% block login %}
				<div class="block block-global" id="block-login">
					{% if user -%}
					<a href="#">{{ user.username }}</a>
					<a href="/logout">Logout</a>
					{%- else -%}
					{% include 'user/login.html' %}
					{%- endif %}
				</div>
				{% endblock %}
				{% endblock %}
			</div>
		</div>
		<div id="content_wrapper" class="wrapper clearfix">
			<div class="column_wrapper area clearfix">
				<div id="content" class="subarea">
					{% block content %}
					{% endblock %}
				</div>
				<div id="sidebar" class="subarea">
					{% block sidebar %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer_wrapper" class="wrapper clearfix">
			<div id="footer" class="area">
				{% block footer %}
				{% endblock %}
			</div>
		</div>
	</body>
</html>
