
{% extends 'index.html' %}

{% block title %}{{ gettext('Package list') }}{% endblock %}

{% block content %}
	<h1>{{ gettext('Latest updates in') }} {{ repository.repository }}</h1>
	<ul class="pkglist pkglist_{{ render_type.name }}">
	{% for package in packages %}
		{% include render_type.template %}
	{% endfor %}
	</ul>
	<div class="pagination">
		{{ format(gettext('Total %s packages'), [count]) }}{% if pages.count > 1 -%}
			{{ format(gettext('at %s pages'), [pages.count|int]) }}
		{%- endif %} <br />
		{% for page in range(1, pages.count) -%}
			<a href="{{ pages.link }}{{ page }}">{{ page }}</a>
		{%- endfor %}
	</div>
{% endblock %}
