<li>
	<!--- TODO: div cannot be in a -->
	<a class="pkglink" href="/pkgview/{{ package.md5 }}">
		<div class="left">
			<div class="title">
				<span class="title_highlight">{{ package.name }}</span>
				<span class="version_highlight">{{ package.version }}</span>
			</div>
			<div class="smalldesc">{{ package.short_description }}</div>
			<div class="added">
				Added: <span class="added_date">{{ package.add_date }}</span>
				by <span class="maintainer">{{ package.maintainer.name }}</span>
			</div>
		</div>
		<div class="right">
			<div class="osversion">
				{{ package.repositories|join(', ', attribute='osversion') }}
			</div>
			<div class="branch">
				{{ package.repositories|map('branch_full')|join(', ') }}
			</div>
			<div class="tags">
				{{ package.repositories|join(', ', attribute='tags') }}
			</div>
		</div>
	</a>
</li>