
{#
{% set url_x86 "http://" + site_url + "/pkgindex/x86/" + sidebar.path %}
{% set url_x86_64 "http://" + site_url + "/pkgindex/x86_64/" + sidebar.path %}
<h2>{{ sidebar.path }}</h2>
<ul>
	<li>
		<span>x86:</span>
		<a href="{{ url_x86 }}">{{ url_x86 }}</a><br />
	</li>
	<li>
		<span>x86_64:</span>
		<a href="{{ url_x86_64 }}">{{ url_x86_64 }}</a><br />
	</li>
</ul>
#}

<div>
	<label for="browser_repositories">Repositories:</label>
	<ul id="browser_repositories">
	{% for repo in repository.repositories %}
		<li><a href="{% url 'browser', repository=repo %}">{{ repo }}</a></li>
	{% endfor %}
	</ul>
</div>
<div>
	<label for="browser_osversions">OS versions:</label>
	<ul id="browser_osversions">
	{% for osver in repository.osversions %}
		<li><a href="{% url 'browser', repository=repository.repository, osversion=osver %}">{{ osver }}</a></li>
	{% endfor %}
	</ul>
</div>
<div>
	<label for="browser_branches">Branches:</label>
	<ul id="browser_branches">
	{% for branch in repository.branches %}
		<li><a href="{% url 'browser', repository=repository.repository, osversion=repository.osver, branch=branch %}">{{ branch }}</a></li>
	{% endfor %}
	</ul>
</div>
<div>
	<label for="browser_subgroups">Subgroups:</label>
	<ul id="browser_subgroups">
	{% for subgroup in repository.subgroups %}
		<li><a href="{% url 'browser', repository=repository.repository, osver=repository.osver, branch=repository.branch, subgroup=subgroup %}">{{ subgroup }}</a></li>
	{% endfor %}
	</ul>
</div>
